@page
@model Client.Pages.LoginModel
@{
    <h3 style="color:red">@ViewData["Message"]</h3>
}
<style>
    form {
        width: 350px; /* Adjust the width of your form */
        margin: 50px auto; /* Centers the form on the page */
        padding: 30px;
        background-color: #f5f5f5; /* Light background color */
        border-radius: 8px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    }

    label {
        display: block; /* Labels above the input fields */
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #007bff; /* Blue background color */
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        button[type="submit"]:hover {
            background-color: #0062cc; /* Darker blue on hover */
        }
</style>


<form method="post">
    <label>UserName</label>
    <input asp-for="@Model.username" required />
    <label>Password</label>
    <input asp-for="@Model.password" required />
    <button type="submit">Login</button>
</form>